<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.mytweet">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".main.MyTweetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TweetListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/title_activity_signup"></activity>
        <activity
            android:name=".activities.TweetPagerActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TweetListActivity" />
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TweetListActivity" />
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="title_activity_mytweet" />
    </application>

</manifest>